/* Colors used in JSW */
:root{
    --backgroundcolor: #FDF5F5;
    --buttonred: #FF3F3F;
    --red: #D80D0D;
    --darkred: #C00000;
    --green: #00A859;
    --yellow: #E0AF00;
    --stripe: #FFE7E7;
    --darkstripe: #FFD9D9;
}