/* Global Styles */
@import url(colors.css);

/*=============== FOOTER ===============*/

.footer {
    padding: 3rem;
    background-color: var(--backgroundcolor);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    height: 100%;
    margin: 0 auto;
    background-color: var(--backgroundcolor);
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer__email {
    color: var(--red);
    text-decoration: underline;
    cursor: pointer;
}

.footer__column--info {
    order: 1;
}

.footer__column--logo {
    order: 2;
}

.footer__column--links {
    order: 3;
}

.footer__column--links h4 {
    letter-spacing: 35%;
    font-size: var(--large-font-size);
}

.footer__column--links ul{
    list-style-type: disc;
    color: var(--red);
}

.footer__column--links ul:first-child{
    margin-right: .5rem;
}

.footer__column--links li {
    margin-bottom: 1.25rem;
    cursor: pointer;
}


.footer__infocontainer {
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
}

.footer__infocontainer span {
    margin-left: 1rem;
}

.footer__icon {
    width: 3rem;
    height: auto;
}

.footer__logo {
    width: 17.5rem;
    height: auto;
    margin: 0 auto;
}

.footer__copyright {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--mutedtext);
    font-size: var(--small-font-size);
}

.footer__links {
    text-align: center;
}


@media screen and (max-width: 1124px) { 
    .footer__container {
        flex-direction: column;
        max-width: 26rem;
    }

     .footer__column--links h4 {
        letter-spacing: 14%;
    }

    .footer__column--info {
        order: 1;
    }
    
    .footer__column--logo {
        order: 3;
        padding-right: 2rem;
    }
    
    .footer__column--links {
        order: 2;
    }
}