/* CSS for homepage page only */

:root {
    --section-gap-size: 2rem 0;
    --gap-size: 1rem;
}

body {
    --button-color: var(--buttonred);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-color-stripe {
    background-color: var(--stripe);
}

.homepage__landing-section {
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180.05deg,
            rgba(176, 29, 38, 0.36) 2.08%,
            rgba(176, 29, 38, 0.36) 2.09%,
            rgba(255, 0, 15, 0.36) 11.86%,
            rgba(236, 151, 156, 0.36) 48.08%,
            rgba(247, 211, 213, 0.4) 81.36%,
            rgba(255, 255, 255, 0.43) 99.95%),
        url('/_images/homepage-images/JAL_9153.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - var(--header-height));
    /* Google says dvh is the modern version for this now */
}

.homepage__promotion-section {
    row-gap: 3rem;
    background-color: var(--stripe);
    padding: var(--section-gap-size);
}

.promotion__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.75rem;
}

.promotion__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    row-gap: 0.5rem;
}

.promotion__heading {

    font-size: clamp(1.5rem, 6vw, 2.5rem);
    font-family: outfit-bold, sans-serif;
    /* white-space: nowrap;
    overflow: hidden; */

}

.promotion__description {
    font-size: clamp(16px, 2vw, 18px);
    font-family: outfit-light, sans-serif;
}

.promotion__image {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.homepage__button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: outfit-medium, sans-serif;
    color: white;
    background-color: var(--button-color);
    border-radius: 999px;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    text-align: center;
}

/* Medium and Above */
@media (min-width: 780px) {
    .promotion__row {
        justify-content: space-around;
        gap: 1rem;
    }

    .promotion__row:nth-child(even) {
        flex-direction: row;
    }

    .promotion__row:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .promotion__image {
        width: clamp(30rem, 20vw, 35rem);
        height: clamp(15rem, 30vw, 18rem);
    }

    .promotion__text-container {
        row-gap: 0.75rem;
    }

}

/* Large and above */
@media (min-width: 1080px) {
    .promotion__row {
        gap: 4rem;
    }

    .promotion__image {
        width: 38rem;
        height: 20rem;
    }

    .homepage__button {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .homepage__button:hover {
        transform: translateY(4px);
        box-shadow: none;
    }
}

/* XL and above */
@media (min-width: 1280px) {
    .promotion__image {
        max-width: 40rem;
        height: 22rem;
    }

}

/* =========== LATEST NEWS AND WRITINGS SECTION ============= */
.homepage__latest-section {
    padding: var(--section-gap-size);
    row-gap: var(--gap-size);
    column-gap: var(--gap-size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template-areas:
        'heading heading'
        'eng-vertical eng'
        'eng-vertical eng'
        'eng-vertical eng'
        'gap gap'
        'dhi dhi-vertical'
        'dhi dhi-vertical'
        'dhi dhi-vertical';
}

#homepage-latest-news-section {
    --accent-color: var(--red);
}

#homepage-latest-writings-section {
    --button-color: var(--green);
    --accent-color: var(--green);
}

.homepage__heading-row-container {
    grid-area: heading;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage__section-heading {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    font-family: outfit-bold, sans-serif;
    height: fit-content;
    width: fit-content;
}

.latest-card__link {
    grid-column: span 2;
}

.latest-card {
    border-radius: var(--border-radius);
    display: flex;
    min-height: 7.5rem;
    gap: 1.25rem;
}

.latest-card__image {
    border-radius: var(--border-radius);
    width: 35%;
    height: auto;
    object-fit: cover;
}

.latest-card__text-container {
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.latest-card__date {
    color: var(--accent-color);
    font-family: outfit-light, sans-serif, aammufk;
    font-size: 0.9rem;
    font-weight: 600;
}

.latest-card__title {
    font-family: outfit-semi-bold, aammufk;
    font-size: clamp(16px, 4vw, 1.2rem);

    

}



/*! Change if no border for the cards */


/* Medium and Above */
@media (min-width: 780px) {


    .latest-card {
        gap: 1.25rem;
        min-height: 8rem;
    }

    .latest-card__link {
        grid-column: span 1;
    }

    /*! Should this just be the news card link vertical on the a tag and nesting? */
    .latest-card-vertical {
        flex-direction: column;
    }

    .latest-card__link-english-vertical {
        grid-area: eng-vertical;
    }

    .latest-card__link-dhivehi-vertical {
        grid-area: dhi-vertical;
    }

    .latest-card-vertical .latest-card__image {
        width: 100%;
        height: 60%;
    }

    .line-divider-grid {
        grid-area: gap;
        grid-column: span 2;
        width: 100%;
        padding: 2rem 0;
    }

    .line-divider-grid:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        height: 0.5rem;
        justify-self: center;
        background-color: rgba(0, 0, 0, 0.6);

    }
}

/* ========= ALUMNI TESTIMONIALS SECTION ========= */

.homepage__alumni-testimonials-section {
    --accent-color: var(--yellow);
    --button-color: var(--yellow);
    padding: var(--section-gap-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.alumni__block {
    display: grid;
    row-gap: 2rem;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
        'arrow1 image arrow2'
        'quote quote quote';
    justify-items: center;
    align-items: center;
}

.alumni__prev-arrow {
    grid-area: arrow1;
}

.alumni__next-arrow {
    grid-area: arrow2;
}

.alumni__image {
    width: 10rem;
    grid-area: image;
}

.alumni__text-container {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background-color: var(--light-yellow);
    position: relative;
}

.alumni__text-container::before,
.alumni__text-container::after {
    --quote-size: 2rem;
    content: '';
    position: absolute;
    width: var(--quote-size);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.alumni__text-container::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M12 4C7 4 4 9 4 14s3 10 8 10c2 0 4-2 4-4s-2-4-4-4c-1 0-2 .5-3 1.3C9 12 10 6 12 4z' fill='black'/%3E%3C/svg%3E");
    left: -1rem;
    top: -0.5rem;
}

.alumni__text-container::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M20 28c5 0 8-5 8-10s-3-10-8-10c-2 0-4 2-4 4s2 4 4 4c1 0 2-.5 3-1.3C23 20 22 26 20 28z' fill='black'/%3E%3C/svg%3E");
    right: -1rem;
    bottom: -0.5rem;
}

.alumni__quote {
    font-style: italic;
}

.alumni__name {
    font-family: outfit-semi-bold, aammufk, sans-serif;
}














.alumni__wrapper {
    display: flex;
    width: 100%;
    height: 400px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* .alumni__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}
 */
.alumni__arrow:active {
    transform: scale(0.94) translateY(-50%);
}

#prev {
    left: 25px;
}

#next {
    right: 25px;
}

.image-container {
    height: 320px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    width: 100%;
}


.carousel img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
}