/* CSS for homepage page only */

:root {
    --section-gap-size: 2rem 0;
    --gap-size: 3rem 0;
}

* {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: inherit;
}

.homepage__landing-section {
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180.05deg,
            rgba(176, 29, 38, 0.36) 2.08%,
            rgba(176, 29, 38, 0.36) 2.09%,
            rgba(255, 0, 15, 0.36) 11.86%,
            rgba(236, 151, 156, 0.36) 48.08%,
            rgba(247, 211, 213, 0.4) 81.36%,
            rgba(255, 255, 255, 0.43) 99.95%),
        url('/_images/homepage-images/JAL_9153.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - var(--header-height));
    /* Google says dvh is the modern version for this now */
}

.homepage__promotion-section {
    row-gap: 3rem;
    background-color: var(--stripe);
    padding: var(--section-gap-size);
}

.promotion__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.75rem;
}

.promotion__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    row-gap: 0.5rem;
}

.promotion__heading {

    font-size: clamp(1.5rem, 6vw, 2.5rem);
    font-family: outfit-bold, sans-serif;
    /* white-space: nowrap;
    overflow: hidden; */

}

.promotion__description {
    font-size: clamp(16px, 2vw, 18px);
    font-family: outfit-light, sans-serif;
}

.promotion__image {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.homepage__button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: outfit-medium, sans-serif;
    color: white;
    background-color: var(--buttonred);
    border-radius: 999px;
    display: inline-block;
    width: fit-content;
    text-align: center;
}

/* Medium and Above */
@media (min-width: 780px) {
    .promotion__row {
        justify-content: space-around;
        gap: 1rem;
    }

    .promotion__row:nth-child(even) {
        flex-direction: row;
    }

    .promotion__row:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .promotion__image {
        width: clamp(30rem, 20vw, 35rem);
        height: clamp(15rem, 30vw, 18rem);
    }

    .promotion__text-container {
        row-gap: 0.75rem;
    }

}

/* Large and above */
@media (min-width: 1080px) {
    .promotion__row {
        gap: 4rem;
    }

    .promotion__image {
        width: 38rem;
        height: 20rem;
    }

    .homepage__button {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-in-out;
    }

    .homepage__button:hover {
        transform: translateY(4px);
        box-shadow: none;
    }
}

/* XL and above */
@media (min-width: 1280px) {
    .promotion__image {
        max-width: 40rem;
        height: 22rem;
    }
}

/* ==== LATEST NEWS SECTION ==== */
.homepage__latest-news-section {
    padding: var(--section-gap-size);
    row-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    grid-template-areas:
        'heading heading'
        'eng-vertical eng'
        'eng-vertical eng'
        'eng-vertical eng'
        'gap gap'
        'dhi dhi-vertical'
        'dhi dhi-vertical'
        'dhi dhi-vertical';
}

.news__heading-row-container {
    grid-column: span 2;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__heading {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    font-family: outfit-bold, sans-serif;
    height: fit-content;
}

/* sAME CODE AS NORMAL BUTTON, CAN UNIONIZE */


.news__card-link {
    grid-column: span 2;

}

.news__card {
    border-radius: var(--border-radius);
    display: flex;
    min-height: 8rem;
    gap: 1.25rem;

}

.news__image {
    border-radius: var(--border-radius);
    width: 40%;
    height: auto;
    object-fit: cover;
}

.news__text-container {
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.news__date {
    color: var(--red);
    font-family: outfit-light, sans-serif, aammufk;
    font-size: 0.9rem;
}

.news__title {
    font-family: outfit-semi-bold, aammufk;
    font-size: clamp(16px, 4vw, 1.2rem);

    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}



/*! Change if no border for the cards */


/* Medium and Above */
@media (min-width: 780px) {


    .news__card {
        gap: 1.25rem;
        min-height: 8rem;
    }

    .news__card-link {
        grid-column: span 1;
    }

    .news__card-link-dhivehi {
        direction: rtl;
    }

    .news__card-link-english-vertical {
        grid-area: eng-vertical;
    }
    .news__card-link-dhivehi-vertical {
        grid-area: dhi-vertical;
    }
    
    /*! Should this just be the news card link vertical on the a tag and nesting? */
    .news__card-vertical {
        flex-direction: column;
    }

    .news__card-vertical .news__image {
        width: 100%;
        height: 60%;
    }
}

/* Large and above */
@media (min-width: 1080px) {}

/* XL and above */
@media (min-width: 1280px) {}