.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 2rem;
  column-gap: 1.5rem;
  justify-content: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}

.card {
  background-color: white;  
  text-align: right;
  overflow: clip;
  justify-content: start;
  gap: 0.1rem;
  padding: 0 10px 20px 10px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  height: 100%;

  &:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-8px);
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    padding: 0 10px 10px 10px;
    gap: 0.6rem;
  }
}

.card--dhivehi {
  align-items: start;
}

.card--english {
  font-family: outfit-semi-bold;
  align-items: start;
  text-align: left;
}

.card__image {
  height: 280px;
  width: auto;
  align-self: center;

  @media screen and (max-width: 768px) {
    height: 240px;
  }

  @media screen and (max-width: 480px) {
    height: 200px;
  }
}

.card__date {
  color: var(--red);
  font-family: mvtypewriter-bold;

  @media screen and (max-width: 768px) {
    font-size: var(--smaller-font-size);
  }
}

.card__title {
  font-size: var(--medium-font-size);
  word-spacing: 3px;
  margin-top: 0.2rem;

  @media screen and (max-width: 768px) {
    font-size: var(--normal-font-size);
  }
}

.main-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "horizontal vertical"
  "horizontal vertical"
  "horizontal vertical"
  ;
}

.vertical-card {
  grid-area: vertical;
}

.horizontal-card {
  grid-area: horizontal;
}